@model IEnumerable<Pizzaboxdata.Data.OrderTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsernameFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationFkNavigation.LocationPk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsernameFkNavigation.UsernamePk)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderIdPk">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderIdPk">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderIdPk">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
